//
   Created by Elizabeth on 8/6/2016.
header
    h1= "Elizabeth Anne Munz"
    p:ul
        li
            a(href="mailto:munz@temple.edu")
                i(class="fa fa-envelope" aria-hidden="true")
                | &nbsp;munz@temple.edu
        | &nbsp;&nbsp;
        li
            a(href="https://www.linkedin.com/in/elizabethmunz")
                i(class="fa fa-linkedin" aria-hidden="true")
                | &nbsp;Linkedin
        | &nbsp;&nbsp;
        li
            a(href="https://www.wayup.com/profile/Elizabeth-Munz/d78a4/b8457/")
                i(class="fa fa-paper-plane-o" aria-hidden="true")
                | &nbsp;Wayup
        | &nbsp;&nbsp;
        li
            a(href="https://github.com/ElizabethMunz")
                i(class="fa fa-github" aria-hidden="true")
                | &nbsp;Github
        | &nbsp;&nbsp;
        li
            a(href="http://codepen.io/munz/")
                i(class="fa fa-github" aria-hidden="true")
                | &nbsp;Codepen

