//
   Created by Elizabeth on 8/6/2016.
#header
    h1= "Elizabeth Anne Munz"
    p Find me:
        | &nbsp;
        a(href='') Email
        | &nbsp;
        a(href='') Linkedin
        | &nbsp;
        a(href='') Wayup
        | &nbsp;
        a(href='') Github