//
   Created by Elizabeth on 8/6/2016.

nav
    p
        case path
            when "/"
                a(href="/").current About
                a(href="/resume") Resume
                a(href="/projects") Projects
                a(href="/contact") Contact
            when "/resume"
                a(href="/") About
                a(href="/resume").current Resume
                a(href="/projects") Projects
                a(href="/contact") Contact
            when "/projects"
                a(href="/") About
                a(href="/resume") Resume
                a(href="/projects").current Projects
                a(href="/contact") Contact
            when "/contact"
                a(href="/") About
                a(href="/resume") Resume
                a(href="/projects") Projects
                a(href="/contact").current Contact
            default
                a(href="/") About
                a(href="/resume") Resume
                a(href="/projects") Projects
                a(href="/contact") Contact
        //-a(href="/art") Art

