//
   Created by Elizabeth on 8/6/2016.

#nav
    p
        a(href="/") About
        a(href="/resume") Resume
        a(href="/projects") Projects
        a(href="/contact") Contact
        //-a(href="/art") Art

