extends layout

block content
  h2 Uh oh!
  if(error == 404)
    p Whoops, this page doesn't exist! If you followed a link on my site to get here, please&nbsp;
        a(href="/contact") send me an email
        |  so I can fix the issue.
  else
      p That's an error! If you have the time, please&nbsp;
          a(href="/contact") send me an email
          |  about how you reached this page so I can fix the issue as soon as possible.

