extends layout

block content
  img.selfie(src="/images/me-square.jpg" alt="Photo of Elizabeth Munz" width="150" height="150")

  p Hi! I'm Elizabeth, or Liz. I'm an aspiring software/app/web developer with a side interest in art and visual design.
  p I've been learning about web development since my freshman year of high school. This site was built using Express.js.

  h2 Interests

  p I am an avid traveler; in 2013, I traveled with People to People Student Ambassador Programs to the British Isles, and I have visited many locations in the U.S. and abroad with my family. That said, I have lived in the greater Philadelphia area for my whole life, and Philly truly is my home.

  p My greatest love in life is dogs. My parents and I regularly care for our friends’, neighbors’, and family members’ dogs while they are away. In 2014 and 2015, I fostered a black lab from the PSPCA for five months. Bear was a senior dog who needed medical care before he could be placed for permanent adoption. I am proud to say that when he returned to the PSPCA, Bear was a healthy dog, ready to find a forever home.
