//
   Created by Elizabeth on 8/6/2016.

extends layout

block content
    .projects


        .project
            a(href="/projects/cg")
                //TODO: create cg page
                .imgcontainer(style="background-image:url(images/cg.png)")
                h2 Crossing Guard
                p Network Flow Replicator built for Comcast's cybersecurity engineering team

        .project
            .imgcontainer(style="background-image:url(images/bg-small.png)")
            h2 Work In Progress
            p This page is still a work in progress; I will be uploading samples of code projects I've worked on with demos and links to the source (if applicable).