//
   Created by Elizabeth on 8/6/2016.

extends layout

block content

    .project
        img(src="images/bg-small.png" width="666" height="314")
        h2 Work In Progress
        p This page is still a work in progress; I will be uploading samples of code projects I've worked on with demos and links to the source (if applicable).
