*, body {
    padding: 0;
    margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    color: #000080;
    text-decoration: none;
}
h3 {
    font-size: 1.8em;
    color: #9999ff;
    padding: 10px 0;
}
/*-----------Header-----------------*/
#header {
    margin: 0 auto;
    padding: 30px 2px 20px;
    height: 20%;
    font-size: 1.18em;
    background-color: #000080;
    color: #fff;
}
#header p {
    padding-left: 30px;
    font-size: .8em;
}
#header a {
    color: #9999ff;
}

@media screen and (min-width: 400px) {
    #header {
        padding: 30px 10% 30px;
        font-size: 1.5em;
    }
}
@media screen and (min-width: 1050px) {
    #header {
        padding: 30px 20% 30px;
        font-size: 1.5em;
    }
}

/*-----------Nav-----------------*/
#nav {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: bold;
}

#nav a {
    display: inline-block;
    font-size: .8em;
    border-left: 2px solid #ccccff;
    margin-left: -2px;
    border-top: 2px solid #ccccff;
    padding: 8px .5%;
    text-decoration: none;
    text-align: center;
    color: #ccccff;
    background-color: #fff;
    width: 24%;
}

#nav a:first-child {
    border-left: none;
    margin-left: 0;
}
#nav a:hover,
#nav a:active,
#nav a:focus {
    background: #9999ff;
    color: #fff;
}

@media screen and (min-width: 400px) {
    #nav {
        position: relative;
        left: auto;
        margin: 0 auto;
        padding: 0 10%;
        width: auto;

    }
    #nav a {
        border-top: none;
        border-bottom: 2px solid #ccccff;
        width: auto;
        margin: 0;
        padding: 8px;
    }
    #nav a:first-child {
        border-left: 2px solid #ccccff;
    }
    #nav a:last-child {
        border-right: 2px solid #ccccff;
    }
}

@media screen and (min-width: 1050px) {
    #nav {
        padding: 0 20%;

    }
}
/*------------main content----------*/
#container {
    margin: 0 auto 30px;
    padding: 10px;
}

@media screen and (min-width: 400px) {
    #container {
        width: 80%;
    }
}
@media screen and (min-width: 1050px) {
    #container {
        width: 60%;
    }
}

img.selfie {
    border-radius: 50%;
    float: right;
}

/*-----------Resume---------------*/

img.resume {
    float: left;
    display: none;
    padding: 10px;
}
.entry {
    height: auto;
    overflow: hidden;
    padding:  0;
    clear: both;
    border-bottom: 2px solid rgba(153,153,255,.8);
}
.clicktounhide {
    margin: 10px 0 -2px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(153,153,255,.5);
}
.clicktounhide p {
    padding-left: 0;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
}
.hidden {
    display: none;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
@media screen and (min-width: 400px) {
    img.resume {
        display: inline-block;
    }
    .clicktounhide {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .clicktounhide p {
        clear: none; !important
        float: left;
    }
    .hidden {
        float: left;
        display: none;
        padding-left: 180px;
    }
}
@media screen and (min-width: 950px) {
    .clicktounhide {
        width: 60%;
    }
}
