//
   Created by Elizabeth on 8/9/2016.

extends ../layout

block content
    img(src="../../images/cg.png")
    h3 Crossing Guard

    span(style="float:left;width:40%")
        p Features
            ul
                li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li Sed ultricies lorem vel mauris imperdiet, ut posuere arcu sodales.
                li Sed at dolor in dui venenatis eleifend.
                li Duis convallis purus et congue varius.
                li Vivamus volutpat purus eu nibh lacinia, posuere dapibus ante venenatis.

    span(style="float:left;width:40%")
        p Other Info
            ul
                li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                li Sed ultricies lorem vel mauris imperdiet, ut posuere arcu sodales.
                li Sed at dolor in dui venenatis eleifend.
                li Duis convallis purus et congue varius.
                li Vivamus volutpat purus eu nibh lacinia, posuere dapibus ante venenatis.